body {
  margin: 0;
  padding: 0;
  background: purple;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

$mobile-top-header-radius: 25px;
$mobile-bottom-footer-radius: $mobile-top-header-radius;
$mobile-color: gray;

.stack-container {
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;

  h3 {
    background: #bd1abd;
    margin: 2px 0 0 0;
    text-align: center;
    padding: 0 16px;
    text-transform: uppercase;
 }

  h3:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.mobile-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: calc(100% - 50px);

  .mobile-header {
    background: $mobile-color;
    flex: 1;
    border-top-left-radius: $mobile-top-header-radius;
    border-top-right-radius: $mobile-top-header-radius;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .camera-container {
      width: 12px;
      height: 12px;
      border: 2px solid black;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .camera-dot {
        background: black;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .camera-retina {
          background: white;
          width: 2px;
          height: 2px;
          border-radius: 100%;
        }
      }
    }

    .mobile-speaker {
      width: 70px;
      height: 1px;
      border: 1px solid black;
      border-radius: 25px;
    }

    .sensor-light {
      width: 3px;
      height: 3px;
      background: darkblue;
      border-radius: 100%;
    }
  }

  .mobile-screen {
    background-color: #ffffff;
    flex: 10;

    .login-container {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100%;

      h2 {
        text-align: center;
      }

      .inputs-wrapper {
        display: flex;
        flex-direction: column;
        padding: 8px;

        #username {
          margin-bottom: 8px;
        }
      }

      button {
        margin: 0 8px;
        border: 2px solid green;
        background: limegreen;
        padding: 8px;
        font-size: 16px;
        color: white;

        &:hover {
          background: lime;
          cursor: pointer;
        }
      }
    }

  }

  .mobile-footer {
    background: $mobile-color;
    flex: 1;
    border-bottom-left-radius: $mobile-bottom-footer-radius;
    border-bottom-right-radius: $mobile-bottom-footer-radius;
    display: flex;
    justify-content: space-around;
    align-items: center;

    i:hover, div:hover {
      cursor: pointer;
    }
    
    .home-button {
      width: 12px;
      height: 12px;
      border-radius: 5px;
      border: 2px solid black;
    }

  }


}

.screen-meta {
  display: none;
}

.field-warning {
  color: red;
}

@import "login-screen";
@import "register-screen";
@import "dashboard-screen";
@import "deposit-screen";
@import "withdraw-screen";
@import "checkbalance-screen";